<div class="note-form">

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" [(ngModel)]="note.title" placeholder="Note title...">
    </div>
  </div>

  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" [(ngModel)]="note.contents" placeholder="Note contents..."></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" (click)="onSubmit.emit(note)">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link" (click)="onCancel.emit()">Cancel</button>
    </div>
  </div>
</div>



